In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('transactions.xlsx')
df

,UUID,IdCustomer,DtTransaction,Points
0,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1
1,036b8d66-8adf-479b-ba0f-cb0e3207acb0,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:24.643,1
2,10166182-a164-4608-8cdf-35e4450b2bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:11:44.728,500
3,03974c58-e86e-4b6b-8143-8f89ca870d09,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:19:41.063,1
4,e84703a6-b606-4096-a2f3-514971c16c5c,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:31:46.288,500
...,...,...,...,...
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083,1
23498,75b3856f-083d-4775-98c9-7a9791b4d693,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:24:27.976,1
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024,1
23500,7429b0a5-08a5-470c-8091-12f627d21911,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565,50
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1

In [3]:
df_summary = df.groupby(["IdCustomer"])["Points"].sum()
df_summary.reset_index()

                               IdCustomer  Points
0    000ff655-fa9f-4baa-a108-47f581ec52a1      52
1    0097ab76-4637-4ece-8ebc-ab6abd61d662     152
2    012bc897-e45c-4e6a-a742-7e00fa2e59e5      51
3    014491f5-caa3-4122-be69-a31411ad4bd7      53
4    014b7774-561a-4a58-93d7-070667df90fb     126
..                                    ...     ...
722  fbd9b6fd-0b1a-436c-822e-7c4dd4fe0c70      50
723  fcbb3e3a-e147-4a13-9f24-80e33f3ae194      58
724  fe348fe6-a2f7-4f3f-b932-c10ad0b5692e      50
725  fe59fd95-d131-4d50-bb6e-10cdfa7d5f47     328
726  fecbdf63-3bf4-44e5-8b1a-0acc9d963603     111

[727 rows x 2 columns]

In [4]:
(df.groupby(["IdCustomer"])
   .agg({ "Points": 'sum',
          "UUID": "count",
          "DtTransaction": "max"})
    .rename(columns={
            "Points":"Valor",
            "UUID": "Frequencia",
            "DtTransaction":"UltimaData"
            })
   .reset_index())

,IdCustomer,Valor,Frequencia,UltimaData
0,000ff655-fa9f-4baa-a108-47f581ec52a1,52,3,2024-03-04 12:00:53.979
1,0097ab76-4637-4ece-8ebc-ab6abd61d662,152,5,2024-02-08 13:56:46.749
2,012bc897-e45c-4e6a-a742-7e00fa2e59e5,51,2,2024-02-05 12:24:09.715
3,014491f5-caa3-4122-be69-a31411ad4bd7,53,4,2024-02-29 22:28:54.356
4,014b7774-561a-4a58-93d7-070667df90fb,126,28,2024-02-06 13:22:58.636
...,...,...,...,...
722,fbd9b6fd-0b1a-436c-822e-7c4dd4fe0c70,50,1,2024-02-05 13:58:26.275
723,fcbb3e3a-e147-4a13-9f24-80e33f3ae194,58,9,2024-02-06 14:05:39.814
724,fe348fe6-a2f7-4f3f-b932-c10ad0b5692e,50,1,2024-02-23 11:58:58.401
725,fe59fd95-d131-4d50-bb6e-10cdfa7d5f47,328,83,2024-03-01 12:03:12.124
726,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,111,13,2024-02-06 12:14:33.614

In [5]:
import datetime

data1 = df["DtTransaction"][0]
now = datetime.datetime.now()

(now - data1).days

387

In [6]:
(datetime.datetime.now() - df["DtTransaction"][0]).days

387

In [7]:
def recencia(x):
    diff = datetime.datetime.now() - x.max()
    return diff.days


(df.groupby(["IdCustomer"])
   .agg({ "Points": 'sum',
          "UUID": "count",
          "DtTransaction": ['max', recencia]
          })
    .rename(columns={
            "Points":"Valor",
            "UUID": "Frequencia",
            "DtTransaction":"UltimaData"
            })
   .reset_index())

                               IdCustomer Valor Frequencia  \
                                            sum      count
0    000ff655-fa9f-4baa-a108-47f581ec52a1    52          3
1    0097ab76-4637-4ece-8ebc-ab6abd61d662   152          5
2    012bc897-e45c-4e6a-a742-7e00fa2e59e5    51          2
3    014491f5-caa3-4122-be69-a31411ad4bd7    53          4
4    014b7774-561a-4a58-93d7-070667df90fb   126         28
..                                    ...   ...        ...
722  fbd9b6fd-0b1a-436c-822e-7c4dd4fe0c70    50          1
723  fcbb3e3a-e147-4a13-9f24-80e33f3ae194    58          9
724  fe348fe6-a2f7-4f3f-b932-c10ad0b5692e    50          1
725  fe59fd95-d131-4d50-bb6e-10cdfa7d5f47   328         83
726  fecbdf63-3bf4-44e5-8b1a-0acc9d963603   111         13

                 UltimaData
                        max recencia
0   2024-03-04 12:00:53.979      350
1   2024-02-08 13:56:46.749      375
2   2024-02-05 12:24:09.715      378
3   2024-02-29 22:28:54.356      353
4   2024-02-06 13:22:58.636      377
..                      ...      ...
722 2024-02-05 13:58:26.275      378
723 2024-02-06 14:05:39.814      377
724 2024-02-23 11:58:58.401      360
725 2024-03-01 12:03:12.124      353
726 2024-02-06 12:14:33.614      377

[727 rows x 5 columns]